DATABASE_URL=your database url connection
API_PORT=port your api running
API_BASE_PATH=path to build your api url
API_EXTERNAL_URL=external url that will send requests
API_METHODS=all methods that your api will accepts
API_ALLOWED_HEADERS=all headers configuration for your api
JWT_ACCESS_SECRET=access token model four your api
JWT_REFRESH_SECRET=refresh token model four your api